- Mobile: 375px
- Desktop: 1440px


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --neon-green: hsla(150, 100%, 66%, 1);
    --light-cyan: hsla(193, 38%, 86%, 1);
    --grayish-blue: hsla(217, 19%, 38%, 1);
    --dark-grayish-blue: hsla(219, 22%, 16%, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsla(219, 22%, 16%, 1);
}

img {
    max-width: 100%;
} 

.container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advice__container {
    background-color: hsla(217, 19%, 38%, 1);
    padding: 3em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    height: 30vh;
    width: 60vh;
    text-align: center;
}

.neon-green {
    color: hsla(150, 100%, 66%, 1);
}

.light-cyan {
    color: hsla(193, 38%, 86%, 1);
}

i {
    size: 64px;
}

/* Font / Text */
.manrope {
    font-family: 'Manrope', sans-serif;
}

.fw-800 {
    font-weight: 800;
}

.fs-13 {
    font-size: 13px;
    letter-spacing: 4.09px;
}

.fs-28 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.3px;
    font-style: normal;
}

.fs-32 {
    font-size: 28px;
}

.uppercase {
    text-transform: uppercase;
}

/* Font / Text End */

/* Picture / Img Styles */

picture .img {
    margin-top: 1em;
    z-index: 99;
}

/* Button Styles */

.btn {
    border-radius: 100px;
    padding: 1.25em;
    margin-top: 1em;
    background-color: hsla(150, 100%, 66%, 1);
    border-color: transparent;
    transform: translateX(-50%);
    cursor: pointer;
    display: flex;
    justify-items: center;
    position: absolute;
    
}
  
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: hsla(150, 100%, 66%, 1);
    /*
    transition: .5s;
    */
    transform: scale(0.9);
    z-index: -1;
}
  
.btn:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 20px hsla(150, 100%, 66%, 1);
}
  
.btn:hover {
    background: hsla(150, 100%, 66%, 1);
    box-shadow: 0 0 20px hsla(150, 100%, 66%, 1);
    text-shadow: 0 0 20px hsla(150, 100%, 66%, 1);
}

/* Button Styles End */


/* Footer */

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}