- Mobile: 375px
- Desktop: 1440px


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --neon-green: hsl(150, 100%, 66%);
    --light-cyan: hsl(193, 38%, 86%);
    --grayish-blue: hsl(218, 33%, 29%);
    --dark-grayish-blue: hsl(220, 36%, 20%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(220, 36%, 20%);
}

img {
    width: 100%;
} 

.container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice__container {
    background-color: hsl(218, 33%, 29%);
    padding: 3em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
}

.neon-green {
    color: hsl(150, 100%, 66%);
}

.light-cyan {
    color: hsl(193, 38%, 86%);
}

i {
    border-radius: 100px;
    padding: .75em;
    background-color:hsl(150, 100%, 66%);
}



/* Font / Text */
.manrope {
    font-family: 'Manrope', sans-serif;
}

.fw-800 {
    font-weight: 800;
}

.fs-22 {
    font-size: 22px;
}

.fs-28 {
    font-size: 28px;
}

.center {
    text-align: center;
}

/* End Font / Test */

/* Footer */

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


const reloadButton = document.querySelector("button#reload")